{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<body>
    <div>
        <h1>welcome to the classical music matching quiz</h1>
        <br>
        <h2 style="font-size: medium;">please answer the questions below to know who your matches are!</h2>
        <br>
        <form name="questions" action="/musicquiz" method="post">
            <p>Which of these composers do you like best?</p>
            <input type="radio" name="q1" value="a" /> Johann Sebastian Bach
            <input type="radio" name="q1" value="b" /> Ludwig van Beethoven
            <input type="radio" name="q1" value="c" /> Johannes Brahms
            <input type="radio" name="q1" value="d" /> John Williams
            <p style="margin-top: 30px;">What is your favorite kind of ensemble?</p>
            <input type="radio" name="q2" value="a" /> Small choir
            <input type="radio" name="q2" value="b" /> Chamber ensemble (string quartet)
            <input type="radio" name="q2" value="c" /> Large orchestra (80-100 musicians)
            <input type="radio" name="q2" value="d" /> Percussion ensemble with technology
            <p style="margin-top: 30px;">What kind of music do you listen to outside of classical?</p>
            <input type="radio" name="q3" value="a" /> Folk
            <input type="radio" name="q3" value="b" /> Country/Rock
            <input type="radio" name="q3" value="c" /> Indie
            <input type="radio" name="q3" value="d" /> Electronic
            <p style="margin-top: 30px;">Which of the following instruments do you like most?</p>
            <input type="radio" name="q4" value="a" /> Organ
            <input type="radio" name="q4" value="b" /> Violin
            <input type="radio" name="q4" value="c" /> Piano
            <input type="radio" name="q4" value="d" /> Cowbell
            <p style="margin-top: 30px;">What is your favorite ice cream flavor?</p>
            <input type="radio" name="q5" value="a" /> Mint Chip
            <input type="radio" name="q5" value="b" /> Coffee
            <input type="radio" name="q5" value="c" /> Cookie Dough
            <input type="radio" name="q5" value="d" /> Pink Lemonade Pop Rocks
            <p style="margin-top: 30px;">Which of these pieces do you like the most?</p>
            <input type="radio" name="q6" value="a" /> Bach: Cello Suite No. 1 in G Major, Prélude
            <input type="radio" name="q6" value="b" /> Mozart: Violin Concerto no.5
            <input type="radio" name="q6" value="c" /> Strauss: Death and Transfiguration
            <input type="radio" name="q6" value="d" /> Adams: Short Ride in a Fast Machine
            <p style="margin-top: 30px;">Which of these film scores do you like the most?</p>
            <input type="radio" name="q7" value="a" /> Le bourgeois gentilhomme
            <input type="radio" name="q7" value="b" /> Pride and Prejudice
            <input type="radio" name="q7" value="c" /> Casablanca
            <input type="radio" name="q7" value="d" /> The Shining
            <p style="margin-top: 30px;">Which of the following artists do you like the most?</p>
            <input type="radio" name="q8" value="a" /> Rembrandt
            <input type="radio" name="q8" value="b" /> Leonardo Da Vinci
            <input type="radio" name="q8" value="c" /> Claude Monet
            <input type="radio" name="q8" value="d" /> Jean-Michel Basquiat
            <p style="margin-top: 30px;">Which of the following composers do you like the most?</p>
            <input type="radio" name="q9" value="a" /> George Frideric Handel
            <input type="radio" name="q9" value="b" /> Josef Haydn
            <input type="radio" name="q9" value="c" /> Fredric Chopin
            <input type="radio" name="q9" value="d" /> Phillip Glass
            <p style="margin-top: 30px;">Which of the following pieces do you like the most?</p>
            <input type="radio" name="q10" value="a" /> Vivaldi Four Seasons
            <input type="radio" name="q10" value="b" /> Beethoven Symphony no. 9
            <input type="radio" name="q10" value="c" /> Debussy Clair de Lune
            <input type="radio" name="q10" value="d" /> Messiaen Quatuor pour la fin du temps
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</body>
{% endblock %}